@require 'variables';
/*
cols
====================================================================== */

cols() {
    .cols {
        margin: 0 ($grid-gutter-width * -1) 0 0;

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .col {
        box-sizing: border-box;
        float: left;
        padding-right: $grid-gutter-width;
    }

    .cols-2 {
        > .col {
            width: 50%;
        }
    }

    .cols-3 {
        > .col {
            width: 33.33%;
        }

        > .col-x2 {
            width: 66.66%;
        }
    }

    .cols-4 {
        > .col {
            width: 25%;
        }
        > .col-x2 {
            width: 50%;
        }
    }
}


@media $media-query-680-and-up {
    cols();
}
