@require 'variables';
/*
sidecol
====================================================================== */
/*  sidecol block
    for use when you want an item of defined width on the left and some stuff on the right of it
    http://www.stubbornella.org/body/2010/06/25/the-media_object-saves-hundreds-of-lines-of-code/
*/


.sidecol,
.sidecol_body {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.sidecol_side {
    float: left;
    margin-right: $grid-gutter-width;

    img {
        display: block;
    }
}

@media $media-query-960-and-up {
    .sidecol_side {
        margin-right: $grid-gutter-width-wide;
    }
}
