/*

BEM inspired naming please:
.component_element-modifier

*/


/* includes
- files that everything else builds on
====================================================================== */
@require 'includes/variables';
@require 'includes/mixins';


/* base elements
- modified HTML with no classes
====================================================================== */
@require 'base/fonts';
@require 'base/elements';


/* utilities & extends
- re-usable classes
- think OOCSS
- mostly page structure (columns and stuff)
====================================================================== */
@require 'includes/extends';
@require 'utilities/utilities';


/* components
- specific purpose blocks with sub elements and modifiers
====================================================================== */

@require 'components/header';
@require 'components/footer';
@require 'components/section';

/*
---------------------------------------------------------------------- */
@require 'components/button';
@require 'components/frame';
@require 'components/form';
@require 'components/indent';
@require 'components/intrinsic';
@require 'components/line';
@require 'components/newsletter';
@require 'components/solo';
@require 'components/splash';
@require 'components/split';
@require 'components/strip';
@require 'components/tic';
