---
model:
  conferences: conferences
  speakers: berlin_speakers
  sessions: berlin_sessions
  nav: header_nav
---
{% extends "../layouts/cfp.html" %}
{% block top_blurb %}
<p>View Source Berlin is now accepting proposals for talks. The conference will
take place at <a href="http://radialsystem.de">RADIALSYSTEM V</a> September 12-14, 2016.
Proposals will be accepted between <strong>Monday, May 2, 2016 and Monday,
July 4, 2016 at 11:59pm Pacific Standard Time.</strong>
Talks will be 25-30 minutes in length with no segment for questions.</p>
{% endblock %}
