---
model:
  conferences: conferences
  speakers: berlin_speakers
  sessions: berlin_sessions
  venue: berlin_venue
  nav: navigation
---
{% extends "../layouts/conference.html" %}
{% block conference_details %}

    <section class="section section-grid" id="sessions">
        <div class="section_body">
            <div class="solo">
                <h2>Sessions</h2>
                <p>Our speakers are awesome, but there’s more to View Source—it’s equal parts sharing, learning, and meeting new people. Discuss and collaborate in an on-going hacking space, chill in comfy hangout spots, see some great demos, and participate in engaging discussions. Evening activities will provide a fun, friendly space to continue the conversation and start new ones.</p>

                <div class="cols cols-third">
                    <div class="col">
                        <p><strong>September 12th</strong><br>
                        Ignite talks<br>
                        Welcome Reception</p>
                    </div>
                    <div class="col">
                        <p><strong>September 13th</strong><br>
                        Conference Sessions<br>
                        Social Event</p>
                    </div>
                    <div class="col">
                        <p><strong>September 14th</strong><br>
                        Conference Sessions<br>
                        After Party</p>
                    </div>
                </div>

                <!--<p><a href="schedule" class="button">See full schedule</a></p>-->
            </div>
        </div>
    </section>

{% endblock %}
