---
conference_slug: berlin
model:
  conferences: conferences
  speakers: berlin_speakers
  sessions: berlin_sessions
  nav: header_nav
---

{% extends "../layouts/schedule.html" %}


{% block title %}

    {# Choose which conference data to load up this template with #}
    {% if path.indexOf('berlin') === 0 %}
        {% set conf = model.conferences.berlin %}
    {% endif %}
    {% if path.indexOf('seattle') === 0 %}
        {% set conf = model.conferences.seattle %}
    {% endif %}

    View Source {{ conf.location }} | {{ conf.date }}

{% endblock %}

{% block body %}
{% endblock %}
