@require '../../includes/variables';
/*
document elements
====================================================================== */

html {
    background: #fff;
}

body {
    scroll-behavior: smooth;
    font-family: $body-font-family;
    line-height: $body-line-height;
}
