/*
document elements
====================================================================== */

html {
    background: #fff;
}

body {
    scroll-behavior: smooth;
    font-family: $body-font-family;
    line-height: 2.1em;
}
