/*
document elements
====================================================================== */

html {
    background: #fff;
}

body {
    scroll-behavior: smooth;
    font-family: 'Montserrat Light', sans-serif;
    line-height: 2.1em;
}
