@require '../../includes/variables';

ul,
ol {
    margin-left: $grid-gutter-width * 2;
}

@media $media-query-960-and-up {

    ul,
    ol {
        margin-left: $grid-gutter-width-wide * 2;
    }

}
