/*
====================================================================== */
$clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
====================================================================== */
$a11y-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0;
}

/*
====================================================================== */
@media print {
    $print-no {
        display: none !important;
    }

    $print-plain {
        background: #ffffff !important;
        color: #000000 !important;
        text-shadow: none !important;
    }

    $print-wide {
        max-width: 100% !important;
    }

    $print-section {
        padding: 20px 0 !important;
        border-bottom: 2px solid #000 !important;
    }
}

