/*
Nothing in this file should have output without first being called.
If we compiled this file as mixins.css it should be empty.
====================================================================== */



/*
Remify()
Convert font-size units to rems if the unit is in pixels.
Declare your size in pixels and this function automatically adds the
equivalent size in rems while leaving the px declaration as the fallback
for old browsers.
Based on Aral Balkan's Responsive Pixels - https://github.com/aral/responsive-pixels
====================================================================== */
remify(value) {
    u = unit(value);

    if value is 'inherit' or value is 'smaller' or value is null {
        value
    } else if u is 'px' {
        return unit(value/16, 'rem');
    } else {
        return unit(value, u);
    }
}

set-font-size(value) {
    font-size: remify(value);
}

/*
====================================================================== */
heading-major() {
    margin: 0 0 $grid-gutter-width 0;
    font-family: $heading-font-family;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
}

/*
====================================================================== */
cols-wide($cols) {
    $width = $cols / $grid-column-total * 100;
    if($width > 100) {
        $width = 100;
    }
    $width = unit($width, unquote('%'));
    $width = round($width, 3);
    return $width;
}

/*
====================================================================== */
white-text() {
    color: #fff;

    h1, h2, h3, h4 {
        color: #fff;

    }

    a:not(.button) {
        color: #fff;
        text-decoration: underline;
    }

    a:not(.button):hover,
    a:not(.button):focus,
    a:not(.button):active {
        color: #fff;
        text-decoration: none;
    }
}
