@require 'mixins';

/*
colors
====================================================================== */

$london-text = #4D4E54;
$london-background = #FFFFFF;
$london-light = #72C0B0;
$london-dark = #106671;
$london-secondary = #63C8CF;
$london-headings = $london-dark;

$default-border = #d2d3d5;
$default-text = #FFFFFF;
$default-background = #313131;
$default-light = saturation($london-light, 0%);
$default-dark = #272526;
$default-secondary = saturation($london-secondary, 0%);
$default-headings = $default-text;

$berlin-text = #4D4E54;
$berlin-background = #FFFFFF;
$berlin-light = #F05556;
$berlin-dark = #B93C5A;
$berlin-secondary = #F79B72;
$berlin-headings = $berlin-dark;

$portland-light = #7198bf;
$portland-dark = #104070;

$default-gradient = linear-gradient(26deg, $default-light, $default-dark 50%);
$london-gradient = linear-gradient(26deg, $london-light, $london-dark 50%);
$berlin-gradient = linear-gradient(26deg, $berlin-light, $berlin-dark 50%);
$portland-gradient = linear-gradient(26deg, $portland-light, $portland-dark 50%);

$grid-size = 30px; // can't combine grid and grid background because stylus treats the background shorthand declaration as math

$light-grid-background = #f2f2f5;
$light-grid-thick = blend(rgba(255, 255, 255, 0.7), $light-grid-background);
$light-grid-thin = blend(rgba(255, 255, 255, 0.3), $light-grid-background);
$light-grid = linear-gradient($light-grid-thick, $light-grid-thick 1px, transparent 1px, transparent 10px, $light-grid-thin 10px, $light-grid-thin 11px, transparent 11px, transparent 20px, $light-grid-thin 20px, $light-grid-thin 21px, transparent 21px), linear-gradient(90deg, $light-grid-thick, $light-grid-thick 1px, transparent 1px, transparent 10px, $light-grid-thin 10px, $light-grid-thin 11px, transparent 11px, transparent 20px, $light-grid-thin 20px, $light-grid-thin 21px, transparent 21px);

$dark-grid-background = #000000;
$dark-grid-thick = blend(rgba(255, 255, 255, 0.15), $dark-grid-background);
$dark-grid-thin = blend(rgba(255, 255, 255, 0.1), $dark-grid-background);
$dark-grid = linear-gradient($dark-grid-thick, $dark-grid-thick 1px, transparent 1px, transparent 10px, $dark-grid-thin 10px, $dark-grid-thin 11px, transparent 11px, transparent 20px, $dark-grid-thin 20px, $dark-grid-thin 21px, transparent 21px), linear-gradient(90deg, $dark-grid-thick, $dark-grid-thick 1px, transparent 1px, transparent 10px, $dark-grid-thin 10px, $dark-grid-thin 11px, transparent 11px, transparent 20px, $dark-grid-thin 20px, $dark-grid-thin 21px, transparent 21px);

$light-fade = linear-gradient(rgba(255, 255, 255, 0.2) $grid-gutter-width, rgba(255, 255, 255, 0.5) $grid-gutter-width )
$dark-fade = linear-gradient(#201e1f $grid-gutter-width, #2e2c2d $grid-gutter-width )

/*
typography
====================================================================== */
$heading-font-family = 'Moon Light', 'Lucida Grande', Tahoma, sans-serif;
$heading-line-height = 1.5;
$body-font-family = 'Montserrat Light', Geneva, 'Trebuchet MS', sans-serif;
$body-line-height = 2.1;

/*
breakpoints & media queries
====================================================================== */
$320  = unit(320 / 16, 'em');
$480 = unit(480 / 16, 'em');
$680  = unit(680 / 16, 'em');
$960  = unit(960 / 16, 'em');
$1200  = unit(1200 / 16, 'em');

$320-starts = $320;
$480-starts  = $480;
$680-starts  = $680;
$960-starts  = $960;
$1200-starts  = $1200;

// some browsers treat printed page as 670px wide, some don't
// by specifying print explicitly we get consistant behaviour for print
$media-query-320-and-up = 'print, all and (min-width: $320-starts)';
$media-query-480-and-up  = 'print, all and (min-width: $480-starts)';
$media-query-680-and-up  = 'print, all and (min-width: $680-starts)';
$media-query-960-and-up  = 'screen and (min-width: $960-starts)';
$media-query-1200-and-up  = 'screen and (min-width: $1200-starts)';

$media-query-tall = 'screen and (min-width: $960-starts) and (min-height: $960-starts)';

$media-query-append-retina-dpr = '(-webkit-min-device-pixel-ratio: 1.3)';
$media-query-append-retina-resolution = '(min-resolution: 124.8dpi)';

/*
grid units
====================================================================== */
$grid-gutter-width = 20px;
$grid-gutter-width-wide = 60px;
$grid-column-total = 6;
$grid-max = 960px;
$object-max = 1400px; // speakers list and hero images

$input-v-padding = 12px;
$input-h-padding = 15px;
$input-border-width = 3px;
$input-min-width = 200px;

/*
animation
====================================================================== */
$transition-duration = 0.3s;
$transition-timing = ease-in;

/*
selectors
====================================================================== */
$selector-icon = 'i[class^="icon-"]';


/*
paths
====================================================================== */
$path-to-assets = '/assets/';
$path-to-fonts = '/assets/fonts/';
