/*
button
====================================================================== */

.button {
    display: inline-block;
    box-sizing: border-box;
    min-width: 200px;
    border: 3px solid transparent;
    padding: 3px 15px;
    background: transparent;
    font-size: inherit;
    text-align: center;
    text-decoration: none;

    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {

        theme({
            color: $theme-buttons
            border-color: $theme-buttons
            text-decoration: none
        })
    }

    &:hover,
    &:focus {
        //TODO
    }
}
