@require '../includes/variables';

/*
button
====================================================================== */

.button {
    display: inline-block;
    box-sizing: border-box;
    min-width: $input-min-width;
    border: $input-border-width solid transparent;
    padding: $input-v-padding $input-h-padding;
    border-color: $london-secondary;
    background: transparent;
    color: $london-secondary;
    font-size: inherit;
    line-height: 1; // to match elements/forms.styl
    text-align: center;
    text-decoration: none;
    text-shadow: none; /* over-ride text shadow in .hero */
    transition: all $transition-duration $transition-timing;

    &:hover,
    &:focus,
    &:active {
        background-color: $london-background;
    }

    &::after{
        content: '\A\BB';
    }

    .split & {
        font-weight: bold;
    }
}

.button-invert {

    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
        background-color: $london-secondary;
        color: $london-background;
    }
}

.button-bright {

    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent
        background-color: $london-background
        color: $london-dark;
    }
}

.button-expand {
    position: relative;
    padding-right: 3rem;

    &::after {
        content: '\A+';
        position: absolute;
        top: 50%;
        right: 1rem;
        margin-top: -1rem;
        set-font-size(28px);
    }
    &[aria-expanded=true]::after {
        content: '\A-';
    }
}
