@require '../includes/variables';
/*
====================================================================== */

.form_group {
    display: block;
    margin-bottom: $grid-gutter-width;
}

.form_group-agree{
    padding-left: 1.5em; // roughly width of a checkbox
    text-indent: -1.5em;
}

.form_label {
    display: block;
}

.form_label-inline {
    display: inline-block;
}

.form_input {
    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
    border: $input-border-width solid #D9D9D9;
    background-color: #fff;
}
