/*
frame
====================================================================== */

.frame {
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 0 $grid-gutter-width 0;
    border: 10px solid $default-border;
}
