@require 'includes/variables'

/*
local guide
====================================================================== */
.guide_place {
    display: block;

    &::before {
        content: ' > ';
        color: $london-headings;
        font-weight: bold;
    }
}
