@require '../includes/variables';
@require '../includes/extends';
/*
header
- default: logo left, list right, home link left
- >680: list pops up to same height as logo
- >960: logo and list pop out into section margins, home link goes right
====================================================================== */

.header_body {
    position: relative;
    max-width: $grid-max;
    margin: 0 auto;
    padding: $grid-gutter-width;
    font-family: $heading-font-family;
    text-align: right;
    text-transform: uppercase;
    @extends $clearfix
}

.header_logo {
    display: block;
    margin-bottom: $grid-gutter-width;
    text-align: left;

    svg {
        display: block;
        height: 50px;
        width: 300px;
        fill: currentColor;
    }
}

.header_links {
    margin: 0;
    list-style-type: none;

    > li {
        display: inline-block;
        padding-left: ($grid-gutter-width / 2);

        // needs increased specificity
        a:not(.button) {
            display: inline-block;
            padding-left: ($grid-gutter-width / 2);
            text-decoration: none;
        }

        a:not(.button):hover,
        a:not(.button):focus,
        a:not(.button):active {
            text-decoration: underline;
        }
    }
}

@media $media-query-480-and-up {
    .header_logo {
        float: left;
        max-width: 50%;
    }

    .header_links {
        display: table;
        float: right;
        width: 50%;
        margin-bottom: -10px;
        margin-top: -10px; /* to account for margin-top on <li>s */
        line-height: 1.4; /* to be even with logo */

        > li {
            margin-top: 10px; /* to keep their distance from each other */
        }
    }
}

@media $media-query-680-and-up {
    .header_links {
        width: 50%;
    }
}

@media $media-query-960-and-up {

    .header_body {
        padding: $grid-gutter-width $grid-gutter-width-wide;
    }

    .header_logo {
        margin-bottom: 0;
    }

    .header_links {
        width: auto;
    }
}

@media $media-query-tall {
    .header_body {
        padding: $grid-gutter-width-wide;
    }
}

@media $media-query-1200-and-up {
    .header_logo {
        margin-left: $grid-gutter-width-wide * -1.5;
    }

    .header_links {
        margin-right: $grid-gutter-width-wide * -1.5;
    }

    li.header_crumb {
        right: 0;
    }
}

@media print {
    .header_body {
        max-width: 100%;
        @extends $print-section
    }

    .header_logo {
        margin-bottom: 0 !important;
    }

    .header_links {
        @extends $print-no;
    }

}
