@require 'includes/variables';
@require 'includes/extends';

.hero {
    position: relative;
    display: table;
    box-sizing: border-box;
    width: 100%;
    height: 600px; /* functions like min-width because this is a table */
    padding: $grid-gutter-width;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;

    .berlin & {
        background-image: url('/assets/images/berlin_hero_320x600.jpg');
    }

    .seattle & {
        background-image: url('/assets/images/seattle_hero_320x600.jpg');
        background-position: 0 0;
    }
}

.hero_body {
    position: relative;
    z-index: 1;
    display: table-cell
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    vertical-align: middle;
}

@media $media-query-320-and-up {
    .hero {
        .berlin & {
            background-image: url('/assets/images/berlin_hero_480x600.jpg');
        }

        .seattle & {
            background-image: url('/assets/images/seattle_hero_480x600.jpg');
        }
    }

    @media $media-query-append-retina-dpr {
        .hero {
            .berlin & {
                background-image: url('/assets/images/berlin_hero_960x1200.jpg');
            }
            .seattle & {
                background-image: url('/assets/images/seattle_hero_960x1200.jpg');
            }
        }
    }

    @media $media-query-append-retina-resolution {
        .hero {
            .berlin & {
                background-image: url('/assets/images/berlin_hero_960x1200.jpg');
            }
            .seattle & {
                background-image: url('/assets/images/seattle_hero_960x1200.jpg');
            }
        }
    }
}

@media $media-query-480-and-up {
    .hero {
        .berlin & {
            background-image: url('/assets/images/berlin_hero_680x600.jpg');
        }
        .seattle & {
            background-image: url('/assets/images/seattle_hero_680x600.jpg');
        }
    }

    @media $media-query-append-retina-dpr {
        .hero {
            .berlin & {
                background-image: url('/assets/images/berlin_hero_1360x1200.jpg');
            }
            .seattle & {
                background-image: url('/assets/images/seattle_hero_1360x1200.jpg');
            }
        }
    }

    @media $media-query-append-retina-resolution {
        .hero {
            .berlin & {
                background-image: url('/assets/images/berlin_hero_1360x1200.jpg');
            }
            .seattle & {
                background-image: url('/assets/images/seattle_hero_1360x1200.jpg');
            }
        }
    }
}

@media $media-query-680-and-up {
    .hero {
        .berlin & {
            background-image: url('/assets/images/berlin_hero_960x600.jpg');
        }
        .seattle & {
            background-image: url('/assets/images/seattle_hero_960x600.jpg');
        }
    }

    .hero_body {
        > * {
            width: cols-wide(4);
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media $media-query-append-retina-dpr {
        .hero {
            .berlin & {
                background-image: url('/assets/images/berlin_hero_1920x1200.jpg');
            }
            .seattle & {
                background-image: url('/assets/images/seattle_hero_1920x1200.jpg');
            }
        }
    }

    @media $media-query-append-retina-resolution {
        .hero {
            .berlin & {
                background-image: url('/assets/images/berlin_hero_1920x1200.jpg');
            }
            .seattle & {
                background-image: url('/assets/images/seattle_hero_1920x1200.jpg');
            }
        }
    }
}

@media $media-query-960-and-up {
    .hero {
        background-size: auto auto;

        .berlin & {
            background-image: url('/assets/images/berlin_hero_1400x600.jpg');
        }
        .seattle & {
            background-image: url('/assets/images/seattle_hero_1400x600.jpg');
            background-position: 50% 0;
        }
    }

    @media $media-query-append-retina-dpr {
        .hero {
            background-size: 1400px 600px;

            .berlin & {
                background-image: url('/assets/images/berlin_hero_2800x1200.jpg');
            }
            .seattle & {
                background-image: url('/assets/images/seattle_hero_2800x1200.jpg');
            }
        }
    }

    @media $media-query-append-retina-resolution {
        .hero {
            background-size: 1400px 600px;

            .berlin & {
                background-image: url('/assets/images/berlin_hero_2800x1200.jpg');
            }
            .seattle & {
                background-image: url('/assets/images/seattle_hero_2800x1200.jpg');
            }
        }
    }
}


@media print {
    .hero {
        height: auto !important;
        @extends $print-section;
        @extends $print-plain;
    }

    .hero_body {
        @extends $print-plain;
    }
}
