@require 'includes/variables'

/*
hotels
====================================================================== */

.hotels_button {
    margin-bottom: 1.5em;
}


.hotels_suggestions {
    &::before {
        content: '';
        display: block;
        height: 8.5em;
        margin: -8.5em 0 0;
    }
}
