@require '../includes/variables';

.newsletter {

    label {
        display: inline-block;
        margin-bottom: $grid-gutter-width;
    }
}

.newsletter_radio label {
    padding-left: $grid-gutter-width;
}

.newsletter_thanks {
    display: none;
}
