@require 'includes/variables'
/*
sections
====================================================================== */

.section {
    position: relative;

    clearfix()

    theme({
        background: $theme-background
        color: $theme-text
    })
}

.section_body {
    max-width: $grid-max-width;
    margin: 0 auto;
    padding: ($grid-gutter-width * 2)  $grid-gutter-width;
}

.section-fadeend {
    padding-bottom: ($grid-gutter-width * 2);

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: $grid-gutter-width * 2;
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.2) $grid-gutter-width, rgba(255, 255, 255, 0.5) $grid-gutter-width );
    }
}

.section-gradient {
    white-text()

    theme({
        background: $theme-gradient
    })
}

.section-invert {
    white-text()

    theme({
        background: $theme-dark
    })
}

.section.section-grid { // needs increased specificity, because reasons
    background-position: 0 0, 0 0;
    background-size: $grid-size $grid-size, $grid-size $grid-size;

    theme({
        background-image: $theme-grid
        background-color: $theme-grid-background
    })
}
