@require 'includes/variables';
@require 'includes/extends';

/*
sections
====================================================================== */

.section {
    position: relative;
    background: $default-background;
    color: $default-text;

    @extends $clearfix;

    > *:last-child,
    > *:last-child > *:last-child,
    > *:last-child > *:last-child > *:last-child,
    > *:last-child > *:last-child > *:last-child > *:last-child,
    > *:last-child > *:last-child > *:last-child > *:last-child > *:last-child {
      margin-bottom: 0;
    }

    @media screen and (-ms-high-contrast: white-on-black) {
        border-bottom: 2px soild #ffffff;
    }
}

.section_body {
    max-width: $grid-max;
    margin: 0 auto;
    padding: ($grid-gutter-width * 2) $grid-gutter-width;

    @extends $clearfix;

    + .section_body {
        padding-top: 0;
    }
}

/*
---------------------------------------------------------------------- */
.section-fadestart,
.section-fadeend {

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: $grid-gutter-width * 2;
        width: 100%;
        background: rgba(255,255,255,0.2); // fallback for non-linear gradient browsers
        background: $light-fade;
    }
}

.section-fadestart {
    padding-top: $grid-gutter-width;
}

.section-fadeend {
    padding-bottom: ($grid-gutter-width * 2);

    &::before {
        top: auto;
        bottom: 0;
    }
}

/*
---------------------------------------------------------------------- */
.section-gradient {
    background-color: $default-dark; // fallback for older browsers
    background-image: $default-gradient;

    white-text()
}

/*
---------------------------------------------------------------------- */
.section-invert {
    background: $default-dark;

    white-text()
}

/*
---------------------------------------------------------------------- */
.section-dark {
    background: $default-background;

    white-text()
}

/*
---------------------------------------------------------------------- */
.section.section-grid { // needs increased specificity, because reasons
    background-position: 50% 0, 50% 0;
    background-size: $grid-size $grid-size, $grid-size $grid-size;
    background-color: $dark-grid-background;
    background-image: $dark-grid;
}


/*
---------------------------------------------------------------------- */
.section.section-night {
    background-color: $default-background
    color: #fff;

    h2 {
        color: #fff;
    }
}


/*
---------------------------------------------------------------------- */

.section.section-uncommon {
    background-position: 0 0, 50% 0, 50% 0;
    background-size: cover, $grid-size $grid-size, $grid-size $grid-size;
    background-image: linear-gradient(120deg, transparent 200px, #201e1f 200px, #201e1f 220px, #2e2c2d 220px, #2e2c2d 240px, $default-background 240px), $dark-grid;
    background-color: $dark-grid-background;
    color: #fff;

    h2 {
        color: #fff;
    }
}


/*
====================================================================== */

@media $media-query-960-and-up {
    .section_body {
        padding: $grid-gutter-width-wide;
    }
}

@media $media-query-tall {
    .section_body {
        padding: ($grid-gutter-width-wide * 2) $grid-gutter-width-wide;
    }
}

@media print {
    .section {
        @extends $print-plain;
    }

    .section_body {
        @extends $print-section;
        @extends $print-wide;
    }
}
