@require 'includes/variables'
@require 'includes/extends'
/*
session
====================================================================== */

.session_day {
    margin-right: ($grid-gutter-width * -1) + 2px;
    margin-bottom: $grid-gutter-width * 2;
    margin-left: ($grid-gutter-width * -1) + 2px;
}

.session_day_header {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    background: $berlin-dark;
    color: #fff;

    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        margin: 0;
        border: 0;
        padding: 0;
        background: $berlin-dark;
        color: #fff;
        font-size: inherit;
        font-family: inherit;
        font-weight: bold;
        line-height: $heading-line-height;
        text-align: left;

        &[aria-expanded=false]:after {
            content: '+';
            float: right;
        }

        &[aria-expanded=true]:after {
            content: '-';
            float: right;
        }
    }
}

.session_day_sessions:before {
    content: '';
    display: block;
    height: 4em;
    margin-top: -4em;
}

.session {
    position: relative;
    padding: $grid-gutter-width;
    margin-bottom: ($grid-gutter-width / 2);
    background-color: $berlin-background;
    @extends $clearfix
}

.session_time-allday {
    padding: 0 4px;
    background-color: $berlin-dark;
    color: #fff;
}

.session_head {
    margin-bottom: 0;
}

.session_place {
    line-height: $heading-line-height;
}

.session_summary {
    margin-top: $grid-gutter-width;

    iframe {
        max-width: 100%;
    }
}

.session_speakers {
    display: block;
}

.session_pic {
    display: flex;
    width: 100px;
    margin-bottom: 10px;

    > a {
        min-width: 0; /* http://stackoverflow.com/questions/31967019/max-width-doesnt-work-in-flexbox  */
        overflow: hidden;

        > img {
            display: block;
        }
    }
}

.session_speaker {
    display: block;
    white-space: nowrap;
}

.session_title,
button.session_title {
    // this becomes a button with some js help so need to over ride defulat button styles
    // also needs the speificity bump
    display: inline-block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    min-width: 0;
    margin: 0;
    border: 0;
    padding: 0;
    background: #fff;
    color: inherit;
    set-font-size(18px);
    font-family: inherit;
    font-weight: bold;
    line-height: $heading-line-height;
    text-align: left;
}

.session_cta {
    color: $berlin-secondary;
}

.session_title {

    &:hover,
    &:focus,
    &:active {

        .session_cta {
            text-decoration: underline;
        }
    }
}

.session_details + .session_details {
    margin-top: $grid-gutter-width;
}

.session_details-nopic button.session_title {
    max-width: 100%;
}

.session_details-keynote:before {
  content: '★';
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $grid-gutter-width;
  width: $grid-gutter-width;
  background-color: $berlin-dark;
  color: #fff;
  set-font-size(8px);
  line-height: 1;
}


@media $media-query-320-and-up {
    $session-pic-320 = 60px;

    .session_pic {
        float: right;
        width: $session-pic-320;
        flex-direction: column;
        margin-left: $grid-gutter-width;
    }

    .session_summary::before {
        content: '';
        display: block;
        height: 8.5em;
        margin: -8.5em 0 0;
    }
}

@media $media-query-480-and-up {
    $session-pic-480 = 100px;
    $session-pic-space-480 = $session-pic-480 + $grid-gutter-width + 5px; // plus a little extra because buttons have weird widths

    .session_day {
        margin-left: 0;
        margin-right: 0;
    }

    .session_pic {
        width: $session-pic-480;
    }

    button.session_title {
        max-width: "calc(100% - %s)" % $session-pic-space-480;
    }
}

@media $media-query-680-and-up {

    .session_day_header_date {
        display: inline;
    }

    .session_day_header_day {

        &::before {
            content: "• ";
        }
    }

    /* hide inidcation headers are buttons becuase we show the days by default */
    .session_day_header {
        button {
            &[aria-expanded=false]:after {
                content: '';
            }

            &[aria-expanded=true]:after {
                content: '';
            }
        }
    }

    .session_pic {
        float: none;
        width: auto;
        flex-direction: row;
        margin: 0;
    }

    .session_speaker {
        display: inline;

        &::before {
            content: "• ";
            color: $berlin-text;
        }

        &:first-child::before {
            content: "";
        }
    }

    button.session_title {
        max-width: 100%;
    }

    .session_summary::before {
        height: 5.5em;
        margin: -5.5em 0 0;
    }
}

@media $media-query-960-and-up {
    .session {
        padding: $grid-gutter-width;
    }
}


@media $media-query-tall {
    .session_day {
        margin-bottom: $grid-gutter-width-wide;
    }
}
