/*
session
====================================================================== */

.session {
    padding: $grid-gutter-width;
    margin-bottom: 5px;

    theme({
        background-color: $theme-background
    })

}

.session_summary::-webkit-details-marker {
    display: none
}
