@require '../includes/variables';

/*
speakers
====================================================================== */

.speaker_list {
    max-width: 400px * 4;
    margin: 0 auto;
    list-style-type: none;
    clearfix();
}

.speaker {
    float: left;
    width: 50%;
    margin: 0;
}

.speaker a {
    display: block;
    overflow: hidden;

    img {
        transition: all $transition-duration $transition-timing;
    }

    &:hover img,
    &:focus img,
    &:active img {
        transform: scale(1.05);
    }
}

@media $media-query-480-and-up {
    .speaker {
        width: 25%;
    }
}
