@require '../includes/variables';
@require '../includes/extends';

/*
speakers
====================================================================== */

.speakers {
    position: relative;
    background: $london-dark

    @extends $clearfix
}

.speakers_list {
    position: relative;
    max-width: $object-max;
    margin: 0 auto;
    background-color: #fff;
    list-style-type: none;
    @extends $clearfix;

    &.js-active,
    &.js-focus,
    &:hover {
        img {
            opacity: 0.2;
        }
    }
}

.speaker {
    float: left;
    width: 50%;
    min-height: 0;

    &:nth-child(2n+1){
        clear: left;
    }

    img {
        display: block;
        transition: opacity 0.15s ease;
    }

    &.js-active img,
    & a:focus img,
    &:hover img {
        opacity: 1;
    }
}

.speaker_social {
    font-style: italic;
}

.speaker_pic {
    position: relative;
    background-color: #fff; /* duplication needed to cover speaker_info while expending */
}

.speaker_info {
    position: absolute;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.15s, opacity 0.15s ease;

    .speaker.js-active & {
        visibility: visible;
        opacity: 1;
    }
}

.speaker_name,
.speaker_title {
    font-family: $heading-font-family;
    set-font-size(28px);
    line-height: 1.2;
    text-transform: uppercase;
}

.speaker_name {
    margin-bottom: 0;
}

.speaker_title {
    font-weight: normal;
}

.speaker_text {

    &:last-child {
        margin-bottom: 0;
    }
}

.speaker_close {
    position: absolute;
    top: $grid-gutter-width;
    right: $grid-gutter-width;
    height: 40px;
    min-width: 0;
    width: 0px;
    overflow: hidden;
    border: 1px solid $london-text;
    border-radius: 100%;
    padding: 0 0 0 40px;
    background-color: $london-background;
    color: $london-text;
    opacity: 0.4;
    transition: opacity 0.15s ease;

    &:hover,
    &:focus {
        opacity: 1;
    }

    &::after {
        content: '\D7';
        position: absolute;
        top: -14px;
        left: 0;
        font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
        font-size: 69px;
    }
}

@media $media-query-680-and-up {
    .speaker {
        width: 25%;

        &:nth-child(2n+1){
            clear: none;
        }
        &:nth-child(4n+1){
            clear: left;
        }
    }

    .speaker_name {
        text-align: right;
    }

    .speaker_text {

        &::before {
            content: '';
            display: block;
            height: 60px;
            width: 60px;
            float: right;
        }
    }
}

@media $media-query-960-and-up {
    .speaker_text {

        &::before {
            display: none;
        }
    }
}

@media print {
    .speaker {
        width: 100% !important;
        min-height: 0 !important;
    }

    .speaker img {
        opacity: 1 !important;
    }

    .speaker_pic {
        float: right !important;
        width: 25% !important;
        padding: $grid-gutter-width 0 $grid-gutter-width $grid-gutter-width !important;
    }

    .speaker_info {
        position: static !important;
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
    }

    .speaker_name {
        text-align: left;
    }

    .speaker_text {
        width: 70% !important;
    }

    .speaker_close {
        display: none !important;
    }
}
