@require 'includes/variables'
@require 'includes/extends'
/*
speakerteaser
====================================================================== */

$speakerteaser_image = 150px;

.speakerteasers {
    max-width: $object-max;
    text-align: center;
    set-font-size(18px);
    padding: ($grid-gutter-width * 2) $grid-gutter-width;
}

.speakerteaser {
    display: inline-block;
    margin: ($grid-gutter-width / 2);
    padding: ($grid-gutter-width / 2);
    background-color: $london-background;
    line-height: 1;
}

@media $media-query-960-and-up {
    .speakerteasers {
        set-font-size(22px);
        padding: $grid-gutter-width-wide;
    }

    .speakerteaser {
        margin: $grid-gutter-width;
        padding: $grid-gutter-width;
    }
}

@media $media-query-tall {
    .speakerteasers {
        padding: ($grid-gutter-width-wide * 2);
    }
}

@media print {
    .speakerteasers {
        @extends $print-section;
        @extends $print-wide;
    }
}
