@require 'includes/variables'

.splash {
    margin: 0 auto;
    padding: ($grid-gutter-width * 2) $grid-gutter-width;
    text-align: center;
}



@media $media-query-960-and-up {
    .splash {
        padding: $grid-gutter-width-wide;
    }
}
