@require 'includes/variables'

/*
splash
====================================================================== */

.splash {
    margin: 0 auto;
    padding: ($grid-gutter-width * 2) $grid-gutter-width;
    text-align: center;
}

@media $media-query-tall {
    .splash {
        padding: ($grid-gutter-width-wide * 2);
    }
}
