@require 'includes/variables'
@require 'includes/extends'

/*
splash
====================================================================== */

.splash {
    margin: 0 auto;
    padding: ($grid-gutter-width * 2) $grid-gutter-width;
    text-align: center;

    svg {
        height: 200px;
        width: 262px;
        fill: currentColor;
    }
}
