@require 'includes/variables';
@require 'includes/extends';

/*
split
====================================================================== */

.split {
    position: relative;

    @extends $clearfix

    &::before {
        content: '';
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index: 2;
        background: url(/assets/images/tech-greeble.svg);
        background-size: 741px 684px;
        background-position: 50% 160px;
    }
}

.split_conference {
    flex-grow: 1;

    box-sizing: border-box;
    padding: $grid-gutter-width;
    text-align: center;

    .split_body {
        position: relative;
        z-index: 10;
        display: inline-block;
        text-align: center;
    }

    a
    a:hover,
    a:focus,
    a:active {
        color: #fff;
    }

    &.berlin {
        background-color: $berlin-dark;
        background: $berlin-gradient;

        &::before {
            left: 0;
            background-image: linear-gradient(-55deg, #F05556, #F05556 115px, #B93C5A);
        }

    }

}

.split_location,
.split_date {
    font-family: $heading-font-family;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
}

.split_location {
    font-weight: bold;
}

.split_date {
    margin-bottom: 10px;
}

@media $media-query-680-and-up {

    .split {
        display: flex;
        align-items: stretch;
    }

}


@media print {
    .split_conference {

        &.seattle {
            padding-left: $grid-gutter-width !important;
        }
        &.berlin {
            padding-right: $grid-gutter-width !important;
        }

    }
}
