@require 'includes/variables'

.sponsorship_logo {
    display: inline-block;
    box-sizing: border-box;
    height: 220px;
    width: 220px;
    border-radius: 100%;
    padding-top: 50px;
    margin: $grid-gutter-width;

    theme({
        background-color: $theme-dark
        background: $theme-gradient
    })
}
