@require 'includes/variables'

.sponsorship_logo {
    display: inline-block;
    margin: $grid-gutter-width;
    padding: 40px 22px; /* image is 150 x 114, add some padding and make it square */
    border-radius: 100%;

    theme({
        background-color: $theme-dark
        background: $theme-gradient
    })
}
