@require 'includes/variables'
@require 'includes/extends'

.sponsorship_logo {
    display: inline-block;
    box-sizing: border-box;
    height: 220px;
    width: 220px;
    border-radius: 100%;
    margin: $grid-gutter-width;
    padding-top: 50px;

    svg {
        height: 114px;
        width: 150px;
        fill: currentColor;
    }

    theme({
        background-color: $theme-dark
        background-image: $theme-gradient
    })
}

@media print {
    .sponsorship_logo {
        height: auto !important;
        width: auto !important;
        padding-top: 0 !important;

        @extends $print-plain;
    }
}
