form
	margin-top: 6rem
	margin-bottom: 6rem

label
	font-family: 'Montserrat'
	display: block
	font-size: 1.3rem


label.has-checkbox
	position: relative
	padding-left: 2.5rem
	margin-top: 1rem
	input
		absolute: top 0 left 0
		
input.text
	width: 100%
	font-family: 'Montserrat'
	font-size: 1.6rem
	padding: 1rem
	border: 1px solid #ddd
	color: #333
	
input[type='submit']
	background-color: $green
	width: 100%
	text-align: center
	font-size: 2rem
	padding: 1rem
	font-family: 'Moon-Light'
	border: none
	color: white
	cursor: pointer
	transition: background-color 1s
	&:hover
		background-color: $blue