header
    height: 43rem
    position: relative
    #logo
        absolute: top 0 left 0
        width: 40%
        max-width: 508px
        height: 430px
        image: '../images/logo_background.png' 808px 448px
        background-repeat: no-repeat
        background-position: bottom right
        h1
            absolute: bottom 16rem right 14rem
            margin: 0
            width: 220px
            height: 167px
            text-indent: -9999rem
            &:after
                content: ''
                absolute: top 0 right 0
                width: 100%
                height: 100%
                image: '../images/logo.png' 220px 167px
                background-repeat: no-repeat
                background-position: top right
    .when
        absolute: bottom 16rem right -20rem

    &:after
        content: ' '
        absolute: top 0 right 0
        width: 64%
        max-width: 732px
        height: 476px
        image: '../images/documents.png' 733px 476px
        background-repeat: no-repeat
        background-position: top left
        z-index: -1
    @media screen and (max-width: $medium)
        height: 34rem
        overflow: hidden
        margin-bottom: -2rem
        #logo
            width: 808px
            left: 50%
            margin-left: -542px
            height: 34rem
            background-position: center bottom
            max-width: none
            h1
                top: 4rem
                right: 50%
                margin-right: -248px
        &:after
            content: none
