header
	height: 18rem
	&:before
		content: ' '
		absolute: top 0 left 0
		width: 32%
		max-width: 508px
		min-width: 40rem
		height: 448px
		bg('../images/logo.png', no-repeat top right)
	&:after
		content: ' '
		absolute: top 0 right 0
		width: 54%
		max-width: 732px
		height: 476px
		bg('../images/documents.png', no-repeat top left)
		z-index: -1