.icon
    image: '../images/icon.png' 55px 37px
    background-repeat: no-repeat
    background-position: center center
    display: inline-block
    width: 5.5rem
    height: 3.7rem
    position: relative
    &:after
        content: ' '
        absolute: top 0 left 0
        width: 100%
        height: 100%
    &.twitter:after
        image: '../images/icon_twitter.png' 23px 19px
        background-repeat: no-repeat
        background-position: center center
    &.signup:after
        image: '../images/icon_signup.png' 21px 21px
        background-repeat: no-repeat
        background-position: center center
