html
    font-size: 62.5%

body
    overflow-x: hidden
    
#main-page
    margin-top: 6rem

@media screen and (max-width: $medium)
    #date, #main-page
        padding: 0 1rem
        max-width: 50rem
    #main-page
        margin-top: 0

@media screen and (min-width: $medium)
    #date, #main-page
        padding: 0 1rem
        max-width: 80rem
    #main-page
        margin-top: 4rem
        
@media screen and (min-width: $medium) and (max-width: $xlarge)
    #main-page
        margin-top: 2rem

@media screen and (min-width: $xlarge)
    #main-page
        margin-top: -10rem
        
.bottom-links
    margin-top: 6rem