@font-face
    font-family: 'Moon-Light'
    src: url('../fonts/Moon Light.otf')
    src: url('../fonts/Moon-Light.eot')
    src: url('../fonts/Moon-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Moon-Light.woff2') format('woff2'),
        url('../fonts/Moon-Light.woff') format('woff'),
        url('../fonts/Moon-Light.ttf') format('truetype'),
        url('../fonts/Moon-Light.svg#Moon-Light') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Moon-Bold'
    src: url('../fonts/Moon Bold.otf')
    src: url('../fonts/Moon-Bold.eot')
    src: url('../fonts/Moon-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Moon-Bold.woff2') format('woff2'),
        url('../fonts/Moon-Bold.woff') format('woff'),
        url('../fonts/Moon-Bold.ttf') format('truetype'),
        url('../fonts/Moon-Bold.svg#Moon-Bold') format('svg')
    font-weight: normal
    font-style: normal

body
    color: #56565a
    font-family: 'Montserrat'

h1
    margin: 3rem 1rem 3rem 0
    font-size: 4rem
    line-height: 4rem
    color: #00af84
    font-weight: normal
    font-family: 'Moon-Light'   

h2
    font-family: 'Moon-Bold'
    font-size: 1.9rem
    color: #3daddd
    margin: 0
    font-weight: normal
    &.when
        color: #00af84      

h5
    font-size: 1.8rem
    line-height: 2.8rem
    font-family: 'Montserrat'
    font-weight: normal
    margin: 2rem 0 3rem 0

p
    font-size: 1.4rem
    line-height: 2.2rem
    margin: 2rem 0
    &.small
        font-size: 1.2rem
        line-height: 2.2rem
        margin: 0

.text-right
    text-align: right

@media screen and (max-width: $medium)
    h2
        font-size: 1.6rem
        
@media screen and (min-width: $xlarge)
    h1
        font-size: 6rem
        line-height: 6rem
        font-weight: normal
        margin: 0 0 0 -20rem