body
	color: #56565a

h1
	font-size: 6rem
	line-height: 6rem
	font-weight: normal
	margin: 0 0 0 -27rem
	color: #00af84
	white-space: nowrap

h2
	font-size: 1.8rem
	color: #3daddd
	margin: 2rem 0 0 0
	&.when
		color: #00af84		

h5
	font-size: 1.8rem
	line-height: 2.8rem
	font-weight: bold
	margin: 3rem 0

p
	font-size: 1.6rem
	line-height: 2.4rem
	margin: 3rem 0
	&.small
		font-size: 1.2rem
		line-height: 2.4rem
		margin: 0

.text-right
	text-align: right