---
model:
  conferences: conferences
  speakers: seattle_speakers
  sessions: seattle_sessions
  #sponsors: seattle_sponsors
  venue: seattle_venue
  nav: navigation
---
{% extends "../layouts/conference.html" %}

       {# what is this for?
        <ul>
        {% for session in model.sessions %}
            <li>
                {{ session.title }} &mdash;
                {% for session_speaker in session.speakers %}
                    {% for speaker in model.speakers %}
                        {% if session_speaker.slug == speaker.slug %}
                            {{ speaker.first }} {{ speaker.last }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
        #}
