{% if conference_data.slug == 'berlin' %}
    <section id="announcements" class="section section-night">
        <div class="section_body">
            <h2>View Source is underway!</h2>
            <p>Check out <a href="/berlin-2016/schedule/">the schedule</a> or the <a href="{{ conference_data.local_guide }}">local guide</a>!</p>
            {% if conference_data.register_url %}
                <p>It's not too late to join us for visionary speakers, technical and design discussions, and fun group activities! <a href="{{ conference_data.register_url }}">Register now</a>.</p>
            {% endif %}
        </div>
    </section>
{% endif %}
