{% if conference_data.slug == 'berlin' %}
    <section id="announcements" class="section section-night">
        <div class="section_body">
            <h2>Announcing Ignite Berlin!</h2>
            <p>View Source is excited to host <a href="http://igniteberlin.com/ignite-at-viewsource/">a special Ignite Berlin</a> on 12 September! Your View Source ticket includes admission to Ignite; non-View Source tickets to Ignite are €10. This is sure to be the largest Ignite Berlin ever!</p>
            <p>Want to present at this special Ignite Berlin? Sign up on the <a href="http://igniteberlin.com/cfp">Call for Proposals page</a> by 12 August.</p>
        </div>
    </section>
{% endif %}
