<!--
................................................................................
..........................7.........................7...........................
.........................7...........................7..........................
........................7.............................7.........................
.......................7............._===_.............7........................
......................7............7.......7............7.......................
.....................7...........7...........7...........7......................
....................7...........7.............7...........7.....................
...................7............I.............I............7....................
..................7.............I.............I.............7...................
...................7............I.............I............7....................
....................7...........7.............7...........7.....................
.....................7...........7...........7...........7......................
......................7............7=-___-=7............7.......................
.......................7...............................7........................
........................7.............................7.........................
.........................7...........................7..........................
..........................I.........................I...........................
................................................................................
..................."View-source provides a powerful catalyst....................
....................to creating a culture of shared learning....................
.............................and learning-by-doing..."..........................
................................................................................
..............-Alex Russel, "View-Source is Good? Discuss.", 2010...............
.........https://infrequently.org/2010/01/view-source-is-good-discuss/..........
................................................................................
-->
