<div class="session_details session_details-nopic">
    <h4 class="session_head">
        <span class="session_title">{{ session.title }}</span>
    </h4>
    {% if session.summary %}
        <div id="{{ session.slug }}_summary" class="session_summary js-hidden">
            {% if session.summary.indexOf('<p>') === 0 %}
                {% autoescape false %}{{ session.summary }}{% endautoescape %}
            {% else %}
                {% autoescape false %}<p>{{ session.summary }}</p>{% endautoescape %}
            {% endif %}
        </div>
    {% endif %}
    {% if session.speakers or session.moderators %}
        <span class="session_moderators">
            {% for session_speaker in session.speakers %}
                {% for speaker in conference_speakers %}
                    {% if session_speaker == speaker.slug %}
                        <a href="{{ conference_data.folder }}/speakers/{{ speaker.slug }}" class="session_speaker">{{ speaker.first }} {{ speaker.last }}</a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {# moderators don't get linked to a speaker page #}
            {% for moderator in session.moderators %}
                <span class="session_speaker">{{ moderator }}</span>
            {% endfor %}
        </span>
    {% endif %}
    {% if session_coords.place %}
        <div class="session_place">@ {{ session_coords.place }}</div>
    {% endif %}
</div>
