{% if session.speakers or session.moderators %}
    <span class="session_moderators {% if inside %}session_moderators-inside{% endif %}">
        {% for session_speaker in session.speakers %}
            {% for speaker in conference_speakers %}
                {% if session_speaker == speaker.slug %}
                    <a href="{{ conference_data.folder }}/speakers/{{ speaker.slug }}" class="session_speaker">{{ speaker.first }} {{ speaker.last }}</a>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {# moderators don't get linked to a speaker page #}
        {% for moderator in session.moderators %}
            <span class="session_speaker">{{ moderator }}</span>
        {% endfor %}
    </span>
{% endif %}
