<header id="header" class="header section section-gradient section-fadeend">
    <div class="header_body">

        <a href="/london-2017/" class="header_logo">
            {% include "svg/vs-logo-h.svg" %}
        </a>

        <ul class="header_links">
            <li><a href="https://ti.to/mdn/view-source-london-2017" target="_blank" rel="noopener">Register</a></li>
            <li><a href="#venue">Venue</a></li>
            <li><a href="http://twitter.com/viewsourceconf" target="_blank" rel="noopener">@viewsourceconf</a></li>
        </ul>
    </div>
</header>
