<header class="section section-gradient section-fadeend">
    <div class="section_body">

        <img class="header_logo" src="/assets/images/vs-logo-white.svg" width="300" height="50">

        <ul class="header_links">

        {# this is totally optional, just putting it here to demo #}
        {% macro link(url, text) %}
          {% if url != "/"+path %}
            <a href="{{ url }}">
          {% endif %}
            {{ text }}
          {% if url != "/"+path %}
            </a>
          {% endif %}
        {% endmacro %}

        {% for item in model.nav %}
            {% set klass="" %}
            {% if item.url == "/"+path %}{% set klass="active" %}{% endif %}
            <li class="{{ klass }}">{{ link(item.url, item.text) }}</li>
        {% endfor %}
        </ul>

    </div>
</header>
