<header class="section section-gradient section-fadeend">
    <div class="section_body">

        <img class="header_logo" src="/assets/images/vs-logo-white.svg" width="300" height="50">

        <ul class="header_links">

        {# this is totally optional, just putting it here to demo #}
        {% macro link(nav_item) %}
          {% if nav_item.url != "/"+path %}
            {% if nav_item.absolute %}
                <a href="{{ nav_item.url }}">
            {% else %}
                <a href="{{ conference_data.folder }}{{ nav_item.url }}">
            {% endif %}
          {% endif %}
            {{ nav_item.text }}
          {% if nav_item.url != "/"+path %}
            </a>
          {% endif %}
        {% endmacro %}

        {% for item in model.nav %}
            {% set klass="" %}
            {% if item.url == "/"+path %}{% set klass="active" %}{% endif %}
            <li class="{{ klass }}">{{ link(item) }}</li>
        {% endfor %}
        </ul>

    </div>
</header>
