<div class="newsletter {% if collapse %}newsletter-inline js-collapse{% endif %}">
    <form id="newsletter_form" name="newsletter_form" action="https://www.mozilla.org/en-US/newsletter/" method="post">
        <input type="hidden" id="fmt" name="fmt" value="H">

        <div id="newsletter_errors" class="newsletter_errors"></div>

        <div id="newsletter_email" class="form_group">
            <label for="email" class="form_label">E-mail</label>
            <input type="email" id="email" name="email" class="form_input" required placeholder="you@example.com" size="30">
        </div>

        <div id="newsletter_privacy" class="form_group form_group-agree">
            <input type="checkbox" id="privacy" name="privacy" required>
            <label for="privacy">
                I'm okay with Mozilla handling my info as explained in this <a href="https://www.mozilla.org/privacy/">Privacy Policy</a>.
            </label>
        </div>
        <div id="newsletter_foot">
            <button id="newsletter_submit" type="submit" class="button">Sign up now</button>
            <em class="newsletter_promise">We will only send you information about View Source.</em>
        </div>
    </form>
    <div id="newsletter_thanks" class="newsletter_thanks">
        <h2>Thanks! Please check your inbox to confirm your subscription.</h2>
        <p>You'll receive an email from mozilla@e.mozilla.org to confirm your subscription. If you don't see it, check your spam filter. You must confirm your subscription to receive updates about the View Source Conference.</p>
    </div>
</div>
