<div class="session" id="{{ session.slug }}">
    <div class="cols">
        <div class="col col-1"><strong>{{ session.start }}</strong></div>

        <div class="col col-1">
            {% if session.speakers %}
                <div class="session_pic">
                    {% for session_speaker in session.speakers %}
                        {% for speaker in model.speakers %}
                            {% if session_speaker == speaker.slug %}
                                {% if speaker.pic %}
                                <a href="{{ conference_data.folder }}/speakers/{{speaker.slug}}"><img src="/assets/images/speakers/{{ speaker.pic }}" height="400" width="400"></a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col col-4">
            {% if session.speakers.length == 0 %}
                <h4 class="session_head">{{ session.title }}</h4>
            {% else %}
                <div class="session_details">
                        <h4 class="session_head">
                            {% if session.speakers %}
                                <span class="session_speakers">
                                    {% for session_speaker in session.speakers %}
                                        {% for speaker in model.speakers %}
                                            {% if session_speaker == speaker.slug %}
                                                <a href="{{ conference_data.folder }}/speakers/{{ speaker.slug }}" class="session_speaker">{{ speaker.first }} {{ speaker.last }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                            {{ session.title }}{% if session.summary != "" %} • <a href="#{{ session.slug }}">More&nbsp;&hellip;</a>{% endif %}
                        </h4>
                    <div class="session_summary">
                        {% if session.summary.indexOf('<p>') === 0 %}
                            {% autoescape false %}{{ session.summary }}{% endautoescape %}
                        {% else %}
                            {% autoescape false %}<p>{{ session.summary }}</p>{% endautoescape %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
