

    <div id="{{ session.slug }}" class="cols">

        {% if session.speakers %}
        <div class="col col-1">
                <div class="session_pic">
                    {% for session_speaker in session.speakers %}
                        {% for speaker in conference_speakers %}
                            {% if session_speaker == speaker.slug %}
                                {% if speaker.pic %}
                                <a href="{{ conference_data.folder }}/speakers/{{ speaker.slug }}"><img src="/assets/images/speakers/{{ speaker.pic }}" height="400" width="400"></a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
        </div>
        {% endif %}

        <div class="col col-4">
            {% include "sessiondetails.html" %}
        </div>
    </div>
