<div id="tic" class="tic">
    <table class="tic_board">
        <tr>
            <td><button type="button"></button></td>
            <td><button type="button"></button></td>
            <td><button type="button"></button></td>
        </tr>
        <tr>
            <td><button type="button"></button></td>
            <td><button type="button"></button></td>
            <td><button type="button"></button></td>
        </tr>
        <tr>
            <td><button type="button"></button></td>
            <td><button type="button"></button></td>
            <td><button type="button"></button></td>
        </tr>
    </table>
    <input id="tic_restart" type="reset" value="Restart">
</div>
