    <div class="section section-grid">
        <div class="section_body">
            <h1>{{ conference_data.location }} 2016 Sessions</h1>

            {% for day, times in conference_schedule %}
                {% if loop.index > 1 %}
                    <section id="{{ loop.index }}" class="session_day">
                        <h3 id="day_{{loop.index}}" class="session_day_header">
                            <span class="session_day_header_date">{{ day|date(date_format) }}</span>
                        </h3>

                        <div id="day_{{ loop.index }}_sessions" class="session_day_sessions" data-date="{{ day }}">
                        {% for time, time_slot in times %}

                            {% set session = false %}
                            {% for s in conference_sessions %}
                                {% if s.slug == time_slot.slug %}
                                    {% set session = s %}
                                {% endif %}
                            {% endfor %}

                            {% if session && session.video %}
                                <div class="session">
                                    {% include "session.html" %}
                                </div>
                            {% endif %}

                        {% endfor %}
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
        </div>
    </div>
