{% extends "../layouts/common.html" %}
{% block title %}{% parent %}Code of Conduct{% endblock %}
{% block body %}

<div class="section section-gradient">
    <div class="section_body">
        <div class="solo">
            <h1>Code of Conduct</h1>
            <h2>Short Version</h2>
            <p>A primary goal of Mozilla's View Source is to be inclusive to the largest number of participants, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof).</p>
            <p>The following behaviors are expected and requested of all conference community members:</p>
            <ul>
                <li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this conference community.</li>
                <li>Exercise consideration and respect in your speech and actions.</li>
                <li>Attempt collaboration before conflict.</li>
                <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
                <li>Be mindful of your surroundings and of your fellow participants. Alert conference community organizers if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
                <li>Remember that conference community event venues may be shared with members of the public; please be respectful to all patrons of these locations.</li>
            </ul>
            <p>To report any issues immediately, and to share any feedback, please contact Ali Spivak, Executive Sponsor, via email at <a href="mailto:viewsource-conduct@mozilla.com">viewsource-conduct@mozilla.com</a>.
Please take a moment to read through the full version below</p>
        </div>
    </div>
</div>
<div class="section section-grid">
    <div class="section_body">
        More to come.
    </div>
</div>
{% endblock %}
