<html>
    <head>
    <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!-- TODO: meta data, social graph and images -->
    </head>
    <body>

    {% include "./partials/header.html" %}

    <div class="section">
        <div class="section_body">
            <h1>{{title}}</h1>
        </div>
    </div>

    {% block body %}
        {{ contents | safe }}
    {% endblock %}

    {% include "./partials/footer.html" %}

    </body>
    <script src="/js/main.js"></script>
</html>
