<!DOCTYPE html>
<html lang="en-US" class="js-no">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "includes/conference_switcher.html" %}
        <title>View Source {{ conference_data.location }}{% block title %} &bullet; {% endblock %}</title>

        <link rel="stylesheet" href="/{{ fingerprint['stylesheets/style.css'] }}">
{% include "includes/meta.html" %}
{% include "includes/analytics.html" %}
    </head>
    <body class="{{ conference_data.slug }}">

    {% include "includes/header.html" %}

    {% block body %}
        {{ contents | safe }}
    {% endblock %}

    {% include "includes/footer.html" %}

    </body>

    <!--[if gt IE 10]> <!-- -->
        <script>
            (function() {
                'use strict';
                window.vs = {};
            })();
        </script>

        <script src="/{{ fingerprint['js/main.js'] }}"></script>
    <!-- <![endif]-->
</html>
