{% extends "common.html" %}
{% block title %}{% parent %}{{ conference_data.date }}{% endblock %}
{% block body %}


    <section class="section section-invert">
        <div class="hero">
            <div class="hero_body">
                <h1>View Source {{ conference_data.location }}</h1>

                <p class="hero_sub">{{ conference_data.date }}</p>

                <p>View Source is an event by developers, for developers, exploring best practices and exciting new techniques.</p>

                <p>Sessions will dive into the code, analyze the web experience across browsers and devices, and explore ready-to-use new technologies. Demos will focus on products that create powerful, convenient, and easy-to-use apps and websites. </p>

                {% if conference_data.register_url %}<p><a href="{{ conference_data.register_url }}" class="button button-bright">Register</a></p>{% endif %}
            </div>
        </div>
    </section>

    <section id="newsletter" class="section section-dark">
        <div class="section_body">
            <div class="cols cols-half">
                <div class="col">
                    <div class="sidecol sidecol-line">
                        <div class="sidecol_side">
                            {% set class_names = 'newsletter_icon' %}
                            {% include "includes/svg/email.svg" %}
                        </div>
                        <div class="sidecol_body">
                            <h2>Get updates by email</h2>
                            <p>Join our mailing list to get updates and more information about View Source.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    {% set collapse = true %}
                    {% include "includes/newsletter.html" with collapse %}
                </div>
            </div>
        </div>
    </section>

{% if conference_data.cfp %}
    <section class="section section-grid">
        <div class="section_body">
            <div class="solo">
                <h2>Call for Proposals</h2>
                <p>View Source {{ conference_data.location }} is currently accepting proposals for talks.</p>
                <p><a href="cfp/" class="button">Submit your proposal.</a></p>
            </div>
        </div>
    </section>
{% endif %}

{% if conference_data.speakers %}
    <section id="speakers">
        <div class="section">
            <div class="section_body">
                <div class="solo">
                    <h2>Speakers</h2>

                    <p>View Source features 16 world-class speakers (plus
                        discussions and Q&amp;A breakouts), exposing best
                        practices and new technologies. Check out our keynote
                        speakers below, <a href="schedule/">see the full
                        schedule</a>, and <a href="#newsletter">sign up for speaker
                        announcements</a>.</p>
                </div>
            </div>
        </div>

        <div class="speakers">
            <ul id="speakers_list" class="speakers_list">
            {% for speaker in model.speakers %}
                {% if speaker.pic && speaker.feature %}
                    <li class="speaker" id="{{ speaker.slug }}">

                        <div class="speaker_pic">
                            <a href="speakers/{{ speaker.slug }}/">
                                <img src="/assets/images/speakers/{{ speaker.pic }}" alt="{{ speaker.first }} {{ speaker.last }}">
                            </a>
                        </div>

                        <div class="section speaker_info" id="{{ speaker.slug }}_info">
                            <div class="section_body">
                                <div class="cols cols-half">
                                    <div class="col">
                                        <h3 class="speaker_name">{{ speaker.first }} {{ speaker.last }}</h3>
                                    </div>

                                    <div class="col speaker_text">
                                        {% set showbio = true %}
                                        {% if speaker.sessions.length > 0 %}
                                            {% for session in model.sessions %}
                                                {% for session_speaker in session.speakers %}
                                                    {% if session_speaker == speaker.slug %}
                                                        <h4 class="speaker_title">{{ session.title }}</h4>
                                                        {% if session.summary %}
                                                            {% set showbio = false %}
                                                            {% if session.summary.indexOf('<p>') === 0 %}
                                                                {{ session.summary }}
                                                            {% else %}
                                                                <p>{{ session.summary }}</p>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if showbio %}
                                            {% if speaker.bio.indexOf('<p>') === 0 %}
                                                {{ speaker.bio }}
                                            {% else %}
                                                <p>{{ speaker.bio }}</p>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ conference_data.folder }}/speakers/{{ speaker.slug }}/">Read more about {{ speaker.first }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}

{% if conference_data.sessions && model.sessions.length > 0 %}
    <section class="section section-grid" id="sessions">
        <div class="section_body">
            <h2 class="center">Sessions</h2>
            <div class="cols cols-half">
                {% for day in conference_data.days %}
                    {% if ! loop.first %}
                        <div class="col">
                            <section id="{{day}}" class="session_day">
                                <h3 class="section-invert session_day_header">
                                    <span class="session_day_header_date">{{ day|date(date_format) }}</span>
                                </h3>
                                {% for session in model.sessions %}
                                    {% if session.date == day && session.feature %}
                                        {% include "includes/sessionteaser.html" with session %}
                                    {% endif %}
                                {% endfor %}
                            </section>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="solo">
                <p>View Source is equal parts sharing, learning, and meeting new people. Discuss and collaborate in an on-going hacking space, chill in comfy hangout spots, see some great demos, and participate in engaging discussions. Evening activities will provide a fun, friendly space to continue the conversation and start new ones.</p>
            </div>
            <p class="center"><a href="{{ conference_data.folder }}/schedule/" class="button">See full schedule</a></p>
        </div>
    </section>
{% endif %}


{% if conference_data.venue %}
    <section class="section" id="venue">
        <div class="section_body">
            <h2 class="center">Venue</h2>
            <p><strong>{{ model.venue.meta.name }}<br>
            {{ model.venue.meta.address }}</strong>
            </p>

            <div class="intrinsic">
                <iframe src="{{ model.venue.meta.map_url }}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <p>{{ model.venue.meta.blurb }}</p>
        </div>
    </section>
{% endif %}

{% if conference_data.venue && model.venue.travel.blurb %}
    <section class="section section-grid" id="travel">
        <div class="section_body">
            <h2 class="center">Travel and Accommodation</h2>

            {% if model.venue.travel.blurb %}<p>{{ model.venue.travel.blurb }}</p>{% endif %}

            {% for mode in model.venue.travel.modes %}
                <h3>{{ loop.key }}</h3>
                <p>{{ mode }}</h3>
            {% endfor %}

            {% for hotel in model.venue.hotels %}
                {% if loop.first %}
                    <h3>Suggested Hotels</h3>
                    <div id="hotels_suggestions" class="hotels_suggestions js-hidden">
                {% endif %}
                <div class="cols cols-half">
                    <h4><a href="{{ hotel.url }}" target="_blank">{{ loop.key }}</a></h4>
                    <div class="col">
                        <p>
                            <strong>Hotel rating: </strong><span title="{{hotel.stars.length}}-star rating">{% for star in hotel.stars %}&star;{% endfor %}</span><br>
                            <strong>Preferential rate:</strong> {{ hotel.rate }}<br>
                            <strong>Address:</strong> <a href="{{ hotel.map_link }}" target="_blank">{{ hotel.address }}</a><br>
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <strong>How to book</strong><br>
                            {{ hotel.how_to_book }}<br>
                            {% if hotel.email %}<strong>Email address: </strong><a href="mailto:{{ hotel.email }}">{{ hotel.email }}</a><br>{% endif %}
                            {% if hotel.phone %}<strong>Telephone number: </strong>{{ hotel.phone }}<br>{% endif %}
                            {% if hotel.reference %}<strong>Booking reference: </strong>{{ hotel.reference }}<br>{% endif %}
                            <em>A credit card will be necessary to secure a booking.</em>
                        </p>
                    </div>
                </div>
                {% if loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}


    <section id="sponsors">
        {% if model.sponsors %}
            <div class="section">
                <div class="section_body">
                    {% macro sponsor_block(title, sponsors) %}

                        <div class="sponsors">
                            <h2 class="sponsors_title">{{ title }}</h2>
                            {% for sponsor in sponsors %}
                                <a class="sponsor" href="{{ sponsor.url }}"><img alt="{{ loop.key }}" src="/assets/images/sponsors/{{ sponsor.image }}"></a>
                            {% endfor %}
                        </div>

                    {% endmacro %}
                    {{ sponsor_block("Premier Sponsors", model.sponsors.premier) }}
                    {{ sponsor_block("Gold Sponsors", model.sponsors.gold) }}
                    {{ sponsor_block("Silver Sponsors", model.sponsors.silver) }}
                    {{ sponsor_block("Other Sponsors and Partners", model.sponsors.other) }}
                </div>
            </div>
        {% endif %}
        {% if conference_data.sponsor_prospectus %}
            <div class="section section-uncommon" id="sponsor">
                <div class="section_body">
                    <div class="solo">
                        <h2>Sponsor the Event</h2>
                        <div class="sponsorship_logo">
                            {% include "includes/svg/vs-logo-v.svg" %}
                        </div>
                        <p><strong>Want to sponsor View Source?</strong></p>
                        <p>We're always open for sponsorship and partnerships, please email Sandra Persing at <a href="mailto:spersing@mozilla.com">spersing@mozilla.com</a> for details. You can also check out our <a href="{{ conference_data.sponsor_prospectus }}" target="_blank">Sponsorship Prospectus</a>. If you don’t see what you are looking for, please <a href="mailto:spersing@mozilla.com">email us</a>, we’re happy to discuss additional options.</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>


{% endblock %}
