{% extends "common.html" %}
{% block title %}{% parent %}{{ conference_data.date }}{% endblock %}
{% block body %}


    <section class="section section-invert">
        <div class="hero">
            <div class="hero_body">
                <h1>View Source {{ conference_data.location }} 2016</h1>

                <p><strong>Let’s come together to build the Web we want!</strong></p>

                <p>View Source is an event by developers, for developers, exploring best practices and exciting new techniques.</p>

                <p>Sessions will dive into the code, analyze the web experience across browsers and devices, and explore ready-to-use new technologies. Demos will focus on products that create powerful, convenient, and easy-to-use apps and websites. </p>

                <p><a href="{{ conference_data.register_url }}" class="button button-invert">Register</a></p>
            </div>
        </div>
    </section>

    <section class="section section-grid">
        <div class="section_body">
            <div class="solo">
                <h2>Call for Proposals</h2>
                <p>View Source {{ conference_data.location }} is currently accepting proposals for talks.</p>
                <p><a href="cfp" class="button">Submit your proposal.</a></p>
            </div>
        </div>
    </section>

    <section id="speakers">
        <div class="section">
            <div class="section_body">
                <div class="solo">
                    <h2>Speakers</h2>

                    <p>View Source features a world-class group of speakers whose talks will expose best practices and practical, innovative development techniques. In addition, we will have a daily set of group discussions with experts on a variety of hot topics.</p>
                </div>
            </div>
        </div>

        <div class="speakers">
            <ul id="speakers_list" class="speakers_list">
            {% for speaker in model.speakers %}
                {% if speaker.pic && speaker.feature %}
                    <li class="speaker" id="{{ speaker.slug }}">

                        <div class="speaker_pic">
                            <a href="speakers/{{ speaker.slug }}">
                                <img src="/assets/images/{{ speaker.pic }}" alt="{{ speaker.first }} {{ speaker.last }}">
                            </a>
                        </div>

                        <div class="section speaker_info" id="{{ speaker.slug }}_info">
                            <div class="section_body">
                                <div class="cols cols-half">
                                    <div class="col">
                                        <h3 class="speaker_name">{{ speaker.first }} {{ speaker.last }}</h3>
                                    </div>

                                    <div class="col speaker_text">
                                        {% if speaker.sessions.length > 0 %}
                                            {% for session in model.sessions %}
                                                {% for session_speaker in session.speakers %}
                                                    {% if session_speaker == speaker.slug %}
                                                        <h4 class="speaker_title">{{ session.title }}</h4>
                                                        {% if session.summary.indexOf('<p>') === 0 %}
                                                            {{ session.summary }}
                                                        {% else %}
                                                            <p>{{ session.summary }}</p>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            <a href="speakers/{{ speaker.slug }}">Read more about {{ speaker.first }}</a>
                                        {% else %}
                                            {% if speaker.bio.indexOf('<p>') === 0 %}
                                                {{ speaker.bio }}
                                            {% else %}
                                                <p>{{ speaker.bio }}</p>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </section>

    {% block conference_details %}
        {# we probably do not need this. everything can live in this file. #}
    {% endblock %}

    <section class="section" id="venue">
        <div class="section_body">
            <h2 class="solo">Venue</h2>
            <p><strong>{{ model.venue.meta.name }}<br>
            {{ model.venue.meta.address }}</strong>
            </p>

            <div class="intrinsic">
                <iframe src="{{ model.venue.meta.map_url }}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <p>{{ model.venue.meta.blurb }}</p>
        </div>
    </section>

    <section class="section section-grid" id="travel">
        <div class="section_body">
            <h2 class="solo">Travel and Accommodation</h2>

            {% if model.venue.travel.blurb %}<p>{{ model.venue.travel.blurb }}</p>{% endif %}

            {% for mode in model.venue.travel.modes %}
                <h3>{{ loop.key }}</h3>
                <p>{{ mode }}</h3>
            {% endfor %}

            <h3>Suggested Hotels</h3>
            {% for hotel in model.venue.hotels %}
                <div class="cols cols-half">
                    <h4><a href="{{ hotel.url }}" target="_blank">{{ loop.key }}</a></h4>
                    <div class="col">
                        <strong>Hotel rating: </strong><span title="{{hotel.stars.length}}-star rating">{% for star in hotel.stars %}&star;{% endfor %}</span><br>
                        <strong>Preferential rate:</strong> {{ hotel.rate }}<br>
                        <strong>Address:</strong> <a href="{{ hotel.map_link }}" target="_blank">{{ hotel.address }}</a><br>
                    </div>
                    <div class="col">
                        <strong>How to book</strong><br>
                        {{ hotel.how_to_book }}<br>
                        {% if hotel.email %}<strong>Email address: </strong><a href="mailto:{{ hotel.email }}">{{ hotel.email }}</a><br>{% endif %}
                        {% if hotel.phone %}<strong>Telephone number: </strong>{{ hotel.phone }}<br>{% endif %}
                        {% if hotel.reference %}<strong>Booking reference: </strong>{{ hotel.reference }}<br>{% endif %}
                        <em>A credit card will be necessary to secure a booking.</em>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section id="sponsors">

        {% if model.sponsors %}
            <div class="section">
                <div class="section_body">
                    {% macro sponsor_block(title, sponsors) %}

                        <div class="sponsors">
                            <h2 class="sponsors_title">{{ title }}</h2>
                            {% for sponsor in sponsors %}
                                <a class="sponsor" href="{{ sponsor.url }}"><img alt="{{ loop.key }}" src="/assets/images/sponsors/{{ sponsor.image }}"></a>
                            {% endfor %}
                        </div>

                    {% endmacro %}
                    {{ sponsor_block("Premier Sponsors", model.sponsors.premier) }}
                    {{ sponsor_block("Gold Sponsors", model.sponsors.gold) }}
                    {{ sponsor_block("Silver Sponsors", model.sponsors.silver) }}
                    {{ sponsor_block("Other Sponsors and Partners", model.sponsors.other) }}
                </div>
            </div>
        {% endif %}

        <div class="section section-uncommon" id="sponsor">
            <div class="section_body">
                <div class="solo">
                    <h2>Sponsor the Event</h2>
                    <div class="sponsorship_logo">
                        <img src="/assets/images/vs-logo-v-white.svg" alt="View Source" height="114" width="150">
                    </div>
                    <p><strong>Want to sponsor View Source?</strong></p>
                    <p>We're always open for sponsorship and partnerships, please <a href="mailto:spersing@mozilla.com">contact us</a> for details. You can also check out our <a href="{{ conference_data.sponsor_prospectus }}" target="_blank">Sponsorship Prospectus</a>. If you don’t see what you are looking for, please <a href="mailto:spersing@mozilla.com">contact us</a>, we’re happy to discuss additional options.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
