{% extends "common.html" %}
{% block title %}{% parent %}{{ conference_data.date }}{% endblock %}
{% block body %}


    <section class="section section-invert">
        <div class="hero">
            <div class="hero_body">
                <h1>View Source {{ conference_data.location }} 2016</h1>

                <p><strong>Let’s come together to build the Web we want!</strong></p>

                <p>View Source is an event by developers, for developers, exploring best practices and exciting new techniques.</p>

                <p>Sessions will dive into the code, analyze the web experience across browsers and devices, and explore ready-to-use new technologies. Demos will focus on products that create powerful, convenient, and easy-to-use apps and websites. </p>

                <p><a href="{{ conference_data.register_url }}" class="button button-invert">Register</a></p>
            </div>
        </div>
    </section>

    {% block conference_details %}
    {% endblock %}

    <section id="sponsors">
        <div class="section">
            <div class="section_body">
                <div class="solo">
                    <h2>Premier Sponsors</h2>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section_body">
                <div class="solo">
                    <h2>Gold Sponsors</h2>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section_body">
                <div class="solo">
                    <h2>Silver Sponsors</h2>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section_body">
                <div class="solo">
                    <h2>Other Sponsors and Partners</h2>
                </div>
            </div>
        </div>

        <div class="section section-uncommon" id="sponsor">
            <div class="section_body">
                <div class="solo">
                    <h2>Sponsor the Event</h2>
                    <div class="sponsor_logo">
                        <img src="/assets/images/vs-logo-v-white.svg" alt="View Source" height="114" width="150">
                    </div>
                    <p><strong>Want to sponsor View Source?</strong></p>
                    <p>We're always open for sponsorship and partnerships, please <a href="mailto:spersing@mozilla.com">contact us</a> for details. You can also check out our <a href="{{ conference_data.sponsor_prospectus }}">Sponsorship Prospectus</a>. If you don’t see what you are looking for, please <a href="mailto:spersing@mozilla.com">contact us</a>, we’re happy to discuss additional options.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
