<!DOCTYPE html>
<html lang="en-US" class="js-no">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="0;url=/london-2017/">
        <title>View Source Conference</title>
        <link rel="stylesheet" href="/{{ fingerprint['stylesheets/style.css'] }}">
{% include "includes/meta.html" %}
  </head>
  <body class="section section-gradient">

    <div class="section_body">
      <div class="solo">
        <a href="/london-2017/">London 2017</a>
      </div>
    </div>

  </body>
</html>
