<!DOCTYPE html>
<html lang="en-US" class="js-no">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Source Conference 2016</title>

        <link rel="stylesheet" href="/{{ fingerprint['stylesheets/style.css'] }}">
{% include "includes/meta.html" %}
{% include "includes/js.html" %}
{% include "includes/analytics.html" %}
  </head>
  <body>

    <div class="section section-grid">
        <h1 class="splash">
            <img src="/assets/images/vs-logo-v-white.svg" alt="View Source" height="270" width="354">
        </h1>

        <section class="split">
            <div class="split_conference berlin">
                <a href="/berlin-2016" class="split_body">
                    <div class="split_location">Berlin</div>
                    <div class="split_date">September 12-14, 2016</div>
                    <button class="button button-invert">Learn more</button>
                </a>
            </div>
            <div class="split_conference seattle">
                <div class="split_body">
                    <div class="split_location">Seattle</div>
                    <div class="split_date">More information<br />coming soon!</div>
                </div>
            </div>
        </section>

    </div>

    <section class="section section-fadestart">
        <div class="section_body">
            <div class="solo">
                <h2>The Web of Tomorrow, Today</h2>

                <p>View Source is a conference for front-end web developers. This event will  provide an in-depth, practical look at current and on-the-horizon technologies, with plenty of opportunities for conversation. We&rsquo;ll share best practices for improving how websites are built across platforms and devices, with technical talks that expose practical development techniques.</p>

                <p><strong>By exploring the web of today, we can pave the way for the web of tomorrow.</strong></p>
            </div>
        </div>
    </section>


    <section class="section section-invert">
        <div class="section_body">
            <div class="cols cols-third">
                <div class="col">
                    <p><img alt="A speaker on stage at View Source 2015." src="/assets/images/speaker.jpg"></p>
                </div>
                <div class="col col-x2">
                    <h2>Previous Events</h2>
                    <p>Our first View Source Conference was held in Portland, Oregon, November 1-3, 2015. More than 400 front-end developers, designers, and industry leaders came together to discuss the web of today and explore the possibilities of the web of tomorrow. <a href="/2015/">Check out the videos and photos.</a></p>
                    <p><a href="/2015/" class="button">See View Source 2015</a></p>
                </div>
            </div>
        </div>
    </section>

    <div class="strip section-invert"></div>

    <section class="section">
        <div class="section_body">
            <div class="solo">
                <h2>About Mozilla</h2>

                <p>Founded in 1998, Mozilla is best known for the Firefox browser, used by hundreds of millions of Internet citizens globally, across various devices and platforms.</p>

                <p>As a non-profit, Mozilla works to empower all Internet consumers to also be producers, equipping them with tools, platforms, documentation, community and other resources. We also care deeply about open standards and platforms that are accessible to everyone, no matter where they are or what browser they choose.</p>

                <p>Read our <a href="https://www.mozilla.org/en-US/about/manifesto/">Manifesto</a> to learn more about the principles that guide our mission.</p>
            </div>
        </div>
    </section>

    {% include "includes/footer.html" %}

    <!--[if gt IE 10]> <!-- -->
    <script>
        (function() {
            'use strict';
            window.vs = {};
        })();
    </script>

    <script src="/{{ fingerprint['js/main.js'] }}"></script>
    <!-- <![endif]-->

  </body>
</html>
