<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="{{conference_slug}}">

    {% include "header.html" %}

    <section class="section">
        <div class="section_body">
            <h1>{% block title %}{{ contents | safe }}{% endblock %}</h1>
        </div>
    </section>

    <section class="section">
        <div class="section_body">
            {% block body %}
              {{ contents | safe }}
            {% endblock %}
        </div>
    </section>


    {% include "footer.html" %}

  </body>
  <script src="/js/main.js"></script>
</html>
