{% extends "common.html" %}
{% block title %}{% parent %}Email Newsletter{% endblock %}
{% block body %}

<div class="section section">
    <div class="section_body">

    <h1>Email Newsletter</h1>
        <div class="newsletter">
            <form id="newsletter_signup" name="newsletter_signup">
                <ol>
                    <li class="newsletter_error"></li>
                    <li>
                        <label for="newsletter_email">E-mail<br>
                        <input type="email" id="newsletter_email" name="email" required placeholder="you@example.com">
                        </label>
                    </li>
                    <li class="newsletter_radio">
                        <fieldset>
                            <legend><span>I want to hear about...</span></legend>
                            <label for="view-source-conference-global">
                            <input type="radio" name="newsletters" value="view-source-conference-global" id="view-source-conference-global" required />
                            Berlin
                            </label>
                            <label for="view-source-conference-north-america">
                            <input type="radio" name="newsletters" value="view-source-conference-north-america" id="view-source-conference-north-america" required />
                            Seattle
                            </label>
                        </fieldset>
                    </li>
                    <li class="newsletter_fineprint">
                        <label for="agree">
                        <input type="checkbox" id="agree" name="agree" required>
                        I'm okay with Mozilla handling my info as explained in this <a href="https://www.mozilla.org/privacy/">Privacy Policy</a>.<br> <em>We will only send you information about View Source.</em>
                        </label>
                    </li>
                    <li class="newsletter_submit">
                        <button id="newsletter_submit" type="submit" class="button button-invert">Subscribe</button>
                    </li>
                </ol>
            </form>
        <div id="newsletter_thanks" class="newsletter_thanks">
            <h2>Thanks! Please check your inbox to confirm your subscription.</h2>
            <p>You'll receive an email from mozilla@e.mozilla.org to confirm your subscription. If you don't see it, check your spam filter. You must confirm your subscription to receive updates about the View Source Conference.</p>
        </div>


    </div>
</div>
{% endblock %}
