{% include "includes/conference_switcher.html" %}
<html lang="en-US" class="js-no">
  <head>
    <title>{{ conference_data.location }} • Full Schedule</title>
    {% include "includes/meta.html" %}
    <link rel="stylesheet" href="/{{ fingerprint['stylesheets/style.css'] }}">
  </head>
  <body class="{{ conference_data.slug }}">

    {% include "includes/header.html" %}

    <div class="section section-grid">
        <div class="section_body">
            <h1>Full Schedule</h1>

            {% for day in conference_data.days %}

                <section id="{{day}}">
                    <h3>{{ day|date(date_format) }} • Day {{loop.index}}</h3>
                    <div>
                    {% for session in model.sessions %}
                        {% if session.date == day %}
                            {% include "includes/session.html" with session %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </section>
            {% endfor %}

        </div>
    </div>

    {% include "includes/footer.html" %}

  </body>
  <script src="/{{ fingerprint['js/main.js'] }}"></script>
</html>
