{% include "includes/conference_switcher.html" %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% include "includes/meta.html" %}
    <link rel="stylesheet" href="/{{ fingerprint['stylesheets/style.css'] }}">
  </head>
  <body class="{{ conference_data.slug }}">

    {% include "includes/header.html" %}

    <section class="section section-grid">
        <div class="section_body">
            <h1>{% block title %}{% endblock %}</h1>

            <h3>Monday, September 12 Day 1</h3>
            <div>
            {% for session in model.sessions %}

                {% include "includes/session.html" with session %}

            {% endfor %}
            </div>

        </div>
    </section>

    {% include "includes/footer.html" %}

  </body>
  <script src="/{{ fingerprint['js/main.js'] }}"></script>
</html>
