{% include "includes/conference_switcher.html" %}
<html>
  <head>
    <title>{{ data.first }} {{ data.last }}</title>
    {% include "includes/meta.html" %}
    <link rel="stylesheet" href="/{{ fingerprint['stylesheets/style.css'] }}">
  </head>
  <body class="{{conference_data.slug}}">


    {% include "includes/header.html" %}

    <section class="section">
        <div class="section_body">
            <div class="cols">
                <div class="col col-3"><img src="/assets/images/{{ data.pic }}"></div>
                <div class="col col-9">
                    <h1>{{ data.first }} {{ data.last }}</h1>
                    {% if data.bio.indexOf('<p>') === 0 %}
                        {{ data.bio }}
                    {% else %}
                        <p>{{ data.bio }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="section section-grid">
        <div class="section_body">
            {% for session in model.sessions %}
                {% for session_speaker in session.speakers %}
                    {% if session_speaker == data.slug %}
                        <h2>{{ session.title }}</h2>
                        <p><strong>
                            {{ session.date|date(date_format) }}<br>
                            {% if session.place || session.time %}
                                @ {{ session.place }}{% if session.place && session.time %},{% endif %} {{session.time}}
                            {% endif %}
                            </strong>
                        </p>
                        <p>
                            {{ session.summary }}
                        </p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>

    {% include "includes/footer.html" %}

  </body>
  <script src="/{{ fingerprint['js/main.js'] }}"></script>
</html>
