---
permalink: false
---
{% extends "layouts/common.html" %}
{% block title %}{% parent %}404{% endblock %}
{% block body %}
<div class="section section">
    <div class="section_body">
        <div class="cols cols-third">
            <div class="col col-x2">
                <img src="/assets/images/404.png" alt="This not the page you were looking for. This is an error page. But don't think of it as an error page. Think of it as a momement to relax and collect your thoughts. Maybe it's an opportunity to refill your tea, get some fresh air, or call a friend." title="This not the page you were looking for. This is an error page. But don't think of it as an error page. Think of it as a momement to relax and collect your thoughts. Maybe it's an opportunity to refill your tea, get some fresh air, or call a friend.">
            </div>
            <div class="col">
                <h1>404</h1>
                <p>That means something went wrong. If you feel adventurous, maybe you can <a href="https://github.com/mdn/viewsourceconf">view the source</a> or <a href="https://github.com/mdn/viewsourceconf/issues">let us know
                about it</a>?</p>
                <p>You can also just <a href="/">start again from the beginning</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
