---
model:
  sessions: berlin_sessions
  speakers: berlin_speakers
  nav: navigation
---

{% extends "layouts/common.html" %}

{% block title %}Hero Image Tests{% endblock %}

{% block body %}

<div class="berlin">
    <section class="section section-invert">
        <div class="hero" style="background-image:url(/assets/images/view-source_berlin_hero_01_1400x600.jpg)">
            <div class="hero_body">
                <h2>The Web of Tomorrow, Today</h2>

                <p>View Source is a conference for front-end web developers. This event will  provide an in-depth, practical look at current and on-the-horizon technologies, with plenty of opportunities for conversation. We&rsquo;ll share best practices for improving how websites are built across platforms and devices, with technical talks that expose practical development techniques.</p>

                <p><strong>By exploring the web of today, we can pave the way for the web of tomorrow.</strong></p>
            </div>
        </div>
    </section>

    <section class="section">
    <p></p>
    </section>

    <section class="section section-invert">
        <div class="hero" style="background-image:url(/assets/images/view-source_berlin_hero_02_1400x600.jpg)">
            <div class="hero_body">
                <h2>The Web of Tomorrow, Today</h2>

                <p>View Source is a conference for front-end web developers. This event will  provide an in-depth, practical look at current and on-the-horizon technologies, with plenty of opportunities for conversation. We&rsquo;ll share best practices for improving how websites are built across platforms and devices, with technical talks that expose practical development techniques.</p>

                <p><strong>By exploring the web of today, we can pave the way for the web of tomorrow.</strong></p>
            </div>
        </div>
    </section>

    <section class="section">
    <p></p>
    </section>

    <section class="section section-invert">
        <div class="hero" style="background-image:url(/assets/images/view-source_berlin_hero_03_1400x600.jpg)">
            <div class="hero_body">
                <h2>The Web of Tomorrow, Today</h2>

                <p>View Source is a conference for front-end web developers. This event will  provide an in-depth, practical look at current and on-the-horizon technologies, with plenty of opportunities for conversation. We&rsquo;ll share best practices for improving how websites are built across platforms and devices, with technical talks that expose practical development techniques.</p>

                <p><strong>By exploring the web of today, we can pave the way for the web of tomorrow.</strong></p>
            </div>
        </div>
    </section>
</div>


{% endblock %}
