---
model:
  nav: header_nav
  sessions: berlin_sessions
  speakers: berlin_speakers
---

{% extends "layouts/common.html" %}

{% block title %}Style Guide{% endblock %}

{% block body %}

<a href="#type">typography</a> | <a href="#layout">layout</a> | <a href="#examples">examples</a> | <a href="#themes">themes</a>

<section class="section">
    <div class="section_body">
        <h1 id="type">Header Level 1</h1>

        <h2>Header Level 2</h2>

        <h3>Header Level 3</h3>

        <a href="http://developer.mozilla.org" class="button">a.button</a>
        <button class="button">button.button</button> <a href="http://developer.mozilla.org">visited link</a> <a href="http://dontclickthis.com">unvisted link</a>

        <p>Paragraph <strong>strong esque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. <em>Emphais aenean ultricies mi vitae est.</em> Condimentum sed, <code>code commodo vitae</code>. <a href="http://developer.mozilla.org">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

        <ol>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>

        <ul>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>

        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

        <h2 id="layout">Layout</h2>
<!--
        <h3>Stuff to one side of a fixed width thing</h3>

        <div class="sidecol">
            <div class="sidecol_side"><img src="/assets/images/test.jpg" width="150"></div>
            <div class="sidecol_body"><p>Body, goes in a line at 680px</p></div>
        </div>

        <div class="sidecol sidecol-480-line">
            <div class="sidecol_side"><img src="/assets/images/test.jpg" width="150"></div>
            <div class="sidecol_body"><p>Body, goes in a line at 480px</p></div>
        </div>

        <div class="sidecol sidecol-line">
            <div class="sidecol_side"><img src="/assets/images/test.jpg" width="150"></div>
            <div class="sidecol_body"><p>Body, always in a line</p></div>
        </div>

        <div class="sidecol sidecol-reverse">
            <div class="sidecol_side"><img src="/assets/images/test.jpg" width="150"></div>
            <div class="sidecol_body"><p>Body side before the body, always. Lines up according to default or other modifiers.</p></div>
        </div>
-->
        <h3>Image with frame</h3>

        <div class="frame">
            <img src="/assets/images/test.jpg" width="398">
        </div>

        <h3>Columns (all in line before 680px)</h3>

        <div class="cols-test">
            <div class="cols cols-half">
                <div class="col">half</div>
                <div class="col">half</div>
            </div>

            <div class="cols cols-third">
                <div class="col">third</div>
                <div class="col">third</div>
                <div class="col">third</div>
            </div>

             <div class="cols cols-third">
                <div class="col">third</div>
                <div class="col col-x2">third (x2)</div>
            </div>

            <div class="cols cols-quarter">
                <div class="col">quarter</div>
                <div class="col">quarter</div>
                <div class="col">quarter</div>
                <div class="col">quarter</div>
            </div>

            <div class="cols">
                <div class="col col-3">3</div>
                <div class="col col-2">2</div>
                <div class="col col-7">7</div>
            </div>

            <div class="cols">
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
                <div class="col col-1">1</div>
            </div>

        </div>

        <h3>Schedual</h3>

        {% for session in model.sessions %}

            {% include "layouts/includes/session.html" with session %}

        {% endfor %}

        <h3>Narrow centered text</h3>

        <div class="solo">
            <p>View Source is a conference for front-end web developers. This event will  provide an in-depth, practical look at current and on-the-horizon technologies, with plenty of opportunities for conversation. We&rsquo;ll share best practices for improving how websites are built across platforms and devices, with technical talks that expose practical development techniques.</p>
        </div>

        <h2 id="examples">Examples</h2>

        <div class="solo">
            <h2>The Web of Tomorrow, Today</h2>

            <p>View Source is a conference for front-end web developers. This event will  provide an in-depth, practical look at current and on-the-horizon technologies, with plenty of opportunities for conversation. We&rsquo;ll share best practices for improving how websites are built across platforms and devices, with technical talks that expose practical development techniques.</p>

            <p><strong>By exploring the web of today, we can pave the way for the web of tomorrow.</strong></p>
        </div>

        <div class="solo">
            <h2>Call for Proposals</h2>

            <p>View Source Berlin is currently accepting proposals for talks.</p>

            <p><a href="#" class="button">Submit your proposal</a></p>
        </div>

        <div class="cols cols-third">
            <div class="col">
                <p><strong>September 12</strong><br>
                Ignite talks<br>
                Welcome Reception</p>
            </div>
            <div class="col">
                <p><strong>September 13</strong><br>
                Day 1 Conference Sessions<br>
                Conference Social Event</p>
            </div>
            <div class="col">
                <p><strong>September 14th</strong><br>
                Day 2 Conference Sessions<br>
                Conference After Party</p>
            </div>
        </div>


        <div class="cols cols-third">
            <div class="col">
                <p><img src="/assets/images/test.jpg"></p>
            </div>
            <div class="col col-x2">
                <h2>Previous Events</h2>
                <p>Our first View Source was held in Portland, Oregon, November 1-3, 2015. More than 400 front-end developers, designers, and industry leaders came together to discuss the web of today and explore the possibilities of the web of tomorrow. Check out the videos and photos from <a href="#">View Source 2015</a> or discover it for the first time).</p>
            </div>
        </div>


        <div class="cols cols-third">
            <div class="col">
                <h3>Contact info</h3>
                    <p>Ali Spivak, Executive Sponsor<br><a href="mailto:viewsource-conduct@mozilla.com">viewsource-conduct@mozilla.com</a></p>
            </div>
            <div class="col col-x2">
                <h3>License and attribution</h3>
                <p>This Code of Conduct is distributed under a Creative Commons Attribution-ShareAlike license.</p>
                <p>It has been adapted with few modifications from Stumptown Syndicate&rsquo;s Citizen Code of Conduct, portions of which are derived from the Django Code of Conduct and the Geek Feminism Anti-Harassment Policy. Additional text from LGBTQ in Technology Code of Conduct.</p>
            </div>
        </div>


        <!--
        <pre><code>
        #header h1 a {
            display: block;
            width: 300px;
            height: 80px;
        }
        </code></pre>

        <form action="#" method="post">
            <div>
                 <label for="name">Text Input:</label>
                 <input type="text" name="name" id="name" value="" tabindex="1" />
            </div>

            <div>
                 <h4>Radio Button Choice</h4>

                 <label for="radio-choice-1">Choice 1</label>
                 <input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" />

                 <label for="radio-choice-2">Choice 2</label>
                 <input type="radio" name="radio-choice-2" id="radio-choice-2" tabindex="3" value="choice-2" />
            </div>

            <div>
                <label for="select-choice">Select Dropdown Choice:</label>
                <select name="select-choice" id="select-choice">
                    <option value="Choice 1">Choice 1</option>
                    <option value="Choice 2">Choice 2</option>
                    <option value="Choice 3">Choice 3</option>
                </select>
            </div>

            <div>
                <label for="textarea">Textarea:</label>
                <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
            </div>

            <div>
                <label for="checkbox">Checkbox:</label>
                <input type="checkbox" name="checkbox" id="checkbox" />
            </div>

            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        -->
    </section>
</section>



<section class="section">
    <div class="section_body">
        <h2 id="themes">Themes</h2>
    </div>
</section>
{% for style in ['default', 'berlin', 'seattle'] %}

<div class="{{ style }}">

<section class="section">
    <div class="section_body">
        <h2>Plain section</h2>
        <p>Text <a href="http://developer.mozilla.org">visited link</a> <a href="http://dontclickthis.com">unvisted link</a></p>
        <a href="http://developer.mozilla.org" class="button">a.button</a>
        <button class="button">button.button</button>
    </div>
</section>

<section class="section section-gradient">
    <div class="section_body">
        <h2>Gradient section</h2>
        <p>Text <a href="http://developer.mozilla.org">visited link</a> <a href="http://dontclickthis.com">unvisted link</a></p>
        <a href="http://developer.mozilla.org" class="button">a.button</a>
        <button class="button">button.button</button>
    </div>
</section>

<section class="section section-grid">
    <div class="section_body">
        <h2>Grid section</h2>
        <p>Text <a href="http://developer.mozilla.org">visited link</a> <a href="http://dontclickthis.com">unvisted link</a></p>
        <a href="http://developer.mozilla.org" class="button">a.button</a>
        <button class="button">button.button</button>
    </div>
</section>

<section class="section section-invert">
    <div class="section_body">
        <h2>Inverted section</h2>
        <p>Text <a href="http://developer.mozilla.org">visited link</a> <a href="http://dontclickthis.com">unvisted link</a></p>
        <a href="http://developer.mozilla.org" class="button">a.button</a>
        <button class="button">button.button</button>
    </div>
</section>

<section class="section section-gradient section-fadeend">
    <div class="section_body">
        <h2>Gradient with faded end</h2>
        <p>Text <a href="http://developer.mozilla.org">visited link</a> <a href="http://dontclickthis.com">unvisted link</a></p>
        <a href="http://developer.mozilla.org" class="button">a.button</a>
        <button class="button">button.button</button>
    </div>
</section>


</div>

{% endfor %}

{% endblock %}
